<a href="https://colab.research.google.com/github/DamodaraBarbosa/estudos_data_science/blob/main/Base_de_dados_Xbox_Gamepass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Estudo base de dados Xbox Gamepass**

Importando a base de dados

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_gamepass = pd.read_csv('Gamepass_Games_v1.csv')

In [ ]:
data_gamepass

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000
...,...,...,...,...,...,...,...,...,...
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735
452,Shadowrun Returns,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000

Visão geral das estatísticas descritivas

In [ ]:
data_gamepass.describe()

           COMP %      RATING  True_Achievement   Game_Score
count  455.000000  452.000000        455.000000   455.000000
mean     6.344835    3.701549       4693.395604  1208.747253
std     11.578358    0.517860       5005.533566   659.990465
min      0.000000    2.000000        252.000000   200.000000
25%      0.600000    3.400000       2101.500000  1000.000000
50%      1.900000    3.700000       3231.000000  1000.000000
75%      6.100000    4.100000       4995.000000  1212.500000
max     84.700000    4.800000      37178.000000  7000.000000

Tratamento da base de dados

In [ ]:
data_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME              455 non-null    object
 1   RATIO             455 non-null    object
 2   GAMERS            455 non-null    object
 3   COMP %            455 non-null    float64
 4   TIME              421 non-null    object
 5   RATING            452 non-null    float64
 6   ADDED             454 non-null    object
 7   True_Achievement  455 non-null    int64
 8   Game_Score        455 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 32.1+ KB

In [ ]:
# a coluna 'RATIO' aparece como dtype: object, apesar de haver floats nos seus dados
# é necessário, então, converter os valores, porém visualizando os valores únicos percebe-se que 

data_gamepass['RATIO'].unique()

array(['1.87', '1.97', '1.34', '3.04', '1.68', '2.40', '1.58', '2.13',
       '2.91', '2.73', '3.25', '2.50', '1.94', '1.52', '4.46', '3.44',
       '1.78', '3.11', '1.70', '2.23', '1.62', '4.21', '2.01', '6.05',
       '2.69', '1.74', '2.28', '1.81', '1.83', '2.77', '2.51', '2.99',
       '2.09', '1.65', '12.32', '1.47', '2.55', '2.07', '1.33', '3.46',
       '3.10', '3.74', '2.53', '2.48', '1.92', '2.82', '2.44', '4.94',
       '3.47', '2.03', '2.84', '4.14', '2.78', '1.73', '2.27', '1.10',
       '1.38', '2.33', '1.95', '8.36', '2.89', '1.59', '1.80', '3.30',
       '2.38', '5.09', '3.07', '3.12', '1.89', '5.37', '2.95', '1.53',
       '2.11', '6.55', '4.27', '1.60', '3.41', '6.58', '2.08', '3.95',
       '6.95', '1.51', '2.68', '2.66', '3.51', '1.99', '2.59', '2.21',
       '3.52', '3.34', '6.63', '1.15', '1.75', '7.46', '2.47', '3.61',
       '8.40', '4.12', '2.02', '2.75', '3.43', '2.36', '1.85', '2.70',
       '2.12', '5.10', '2.05', '3.06', '2.90', '1.55', '5.70', '2.79',
       '1.06', '2.04', '3.56', '4.79', '2.30', '1.93', '1.22', '3.19',
       '1.26', '3.03', '5.04', '4.07', '4.95', '2.97', '5.07', '3.60',
       '1.54', '2.52', '2.32', '2.94', '3.81', '3.58', '3.00', '2.60',
       '4.03', '11.13', '6.91', '4.65', '9.30', '1.86', '6.04', '5.47',
       '2.16', '2.20', '5.01', '4.67', '2.41', '1.49', '1.23', '3.79',
       '5.26', '2.15', '2.56', '3.33', '4.91', '6.98', '4.11', '5.65',
       '3.16', '5.85', '2.14', '5.41', '4.15', '9.38', '1.40', '3.23',
       '3.66', '2.06', '1.04', '2.18', '2.92', '2.57', '4.25', '3.09',
       '9.12', '2.35', '11.35', '3.36', '3.88', '4.99', '3.01', '1.82',
       '6.16', '2.80', '1.27', '2.96', '1.72', '6.24', '3.17', '8.20',
       '1.30', '7.22', '3.49', '1.42', '3.68', '1.69', '12.46', '1.37',
       '3.48', '5.28', '8.52', '3.05', '4.24', '5.48', '4.92', '3.93',
       '1.44', '2.17', '7.52', '5.84', '4.88', '2.81', '2.67', '4.57',
       '6.92', '7.79', '12.53', '3.71', '2.25', '2.71', '5.64', '1.29',
       '3.90', '9.76', '5.99', '6.00', '5.71', '6.60', '3.45', '2.45',
       '2.76', '5.54', '12.95', '7.28', '3.40', '4.19', '4.47', '3.50',
       '1.71', '3.38', '1.28', '7.59', '7.55', '5.50', '1.17', '4.40',
       '11.08', '1.13', '22.28', '2.39', '1.48', '5.12', '8.06', '2.63',
       '1.46', '8.92', '1.96', '10.31', '4.82', '16.46', '1.88', '1.25',
       '7.97', '21.53', '4.96', '2.37', '14.55', '3.86', '6.19', '7.04',
       '10.72', '3.31', '4.70', '37.18', '2.65', '5.60', '3.91', '6.30',
       '7.64', '1.61', '13.46', '7.86', '1.57', '16.36', '6.51', '6.18',
       '13.87', '7.96', '4.76', '11.70', '-'], dtype=object)

In [ ]:
# há o valor '-' para ratio, é possível localizá-lo no dataframe

data_gamepass.query('RATIO == "-"')

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
452,Shadowrun Returns,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000

In [ ]:
# três valores que aparecem com '-' como valor de 'RATIO'
# modifica-se tal valor para None

data_gamepass['RATIO'].loc[[452, 453, 454]] = None

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
# converte-se os valores de 'RATIO' para float 
data_gamepass['RATIO'] = data_gamepass['RATIO'].str.replace('.', '.').astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
# preenche-se os dados de 'RATIO' nulos com a mediana da coluna de maneira definitiva

data_gamepass['RATIO'].fillna(data_gamepass['RATIO'].median(), inplace = True)

In [ ]:
# para tratar a coluna 'ADDED' referente a data de entrada do jogo no Gamepass

data_gamepass['ADDED'].unique()

array(['06 Jan 22', '15 Dec 20', '09 Nov 20', '02 Dec 21', '03 Nov 21',
       '18 Jun 21', '17 Sep 20', '13 Jun 21', '18 Dec 19', '13 Mar 22',
       '06 Mar 20', '05 Nov 21', '25 Aug 21', '12 May 21', '20 Oct 20',
       '12 Mar 21', '21 Oct 20', '16 Dec 19', '05 Dec 20', '20 Jan 22',
       '09 Jun 19', '25 Mar 21', '09 Jan 20', '23 Jan 20', '01 Oct 20',
       '15 Dec 21', '10 Mar 22', '04 Dec 21', '18 Aug 20', '10 Nov 20',
       '18 Feb 21', '18 Nov 21', '17 May 21', '10 Aug 21', '12 Apr 22',
       '07 Jan 22', '28 Apr 20', '07 Jan 21', '16 Jan 20', '16 Mar 22',
       '10 Jun 21', '28 Jan 21', '17 Dec 20', '13 Apr 22', '24 Feb 21',
       '20 Mar 22', '30 Sep 21', '24 Mar 22', '08 Jul 21', '30 Apr 20',
       '03 Sep 21', '04 May 21', '28 Oct 21', '01 Jul 21', '04 Nov 20',
       '09 Jul 20', '11 Jun 20', '19 Apr 22', '21 Oct 21', '11 Feb 21',
       '14 Feb 22', '06 Apr 21', '29 Oct 21', '19 Aug 21', '28 Aug 20',
       '06 May 21', '06 Sep 21', '21 Aug 20', '23 Jul 20', '19 Jun 19',
       '16 Sep 21', '27 Mar 21', '15 Jul 21', '19 Dec 19', '01 Dec 20',
       '18 Jan 22', '25 May 21', '03 Dec 21', '29 Oct 20', '25 Feb 20',
       '09 Dec 21', '27 Jan 22', '18 Oct 20', '30 Jun 21', '23 Sep 21',
       '29 Apr 21', '03 Feb 22', '01 Sep 21', '04 Jan 22', '05 Aug 21',
       '13 Dec 18', '12 Jan 22', '14 Oct 21', '31 Mar 21', '24 Jun 21',
       '08 Oct 20', '12 Apr 21', '11 Nov 21', '13 Oct 20', '14 Dec 21',
       '26 Aug 21', '29 Jul 21', '17 Nov 21', '15 Sep 21', '20 Aug 20',
       '01 Sep 20', '11 Jan 22', '16 Mar 21', '11 Aug 21', '16 Jan 22',
       '17 Dec 19', '12 Oct 21', '20 Jan 21', '22 Mar 22', '17 Aug 21',
       '13 Jan 22', '28 Sep 20', '27 May 21', '18 Mar 21', '22 Jul 21',
       '07 Oct 21', '24 Sep 21', '26 Oct 21', '28 Apr 22', '09 Sep 21',
       '17 Sep 21', '03 Jun 21', '03 Aug 21', '05 Oct 21', '09 Feb 22',
       '19 Jul 21', '29 Jun 21', '12 Mar 20', '26 Apr 22', '19 May 20',
       '14 Jul 20', '23 Nov 21', '10 Sep 20', '04 Nov 21', '17 Mar 22',
       '06 Aug 20', '10 Feb 22', '06 Feb 20', '18 Sep 21', '20 Nov 21',
       '07 Dec 21', '30 Nov 21', '03 Mar 22', '02 Mar 21', '31 Jan 22',
       '10 Apr 21', '18 Jun 20', '08 Oct 21', '15 Nov 21', '03 Dec 20',
       '16 Dec 21', '26 Nov 21', '26 Mar 20', '20 Mar 20', '23 Jun 21',
       '09 Mar 21', '17 Feb 22', '01 Apr 20', '07 May 20', nan,
       '02 Sep 21', '10 Sep 21', '28 Sep 21', '09 Oct 21', '19 Nov 21',
       '05 Apr 22', '07 Apr 22', 'Yesterday', '14 Mar 22', '01 Oct 21',
       '18 May 21', '16 Aug 21', '20 Apr 22'], dtype=object)

In [ ]:
# percebe-se a presença do valor 'Yesterday' que pode ser localizado usando a função .query()

data_gamepass.query('ADDED == "Yesterday"')

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
438,Loot River,7.86,334,0.0,NaN,3.2,Yesterday,7859,1000

In [ ]:
# pesquisando a data de entrada do jogo no serviço de jogos da Microsoft verifica-se que este entrou no dia 02 de maio de 2022 
# fonte: https://news.xbox.com/en-us/2022/05/02/loot-river-is-now-available-for-pc-xbox-one-and-xbox-series-xs-game-pass/
# então substitui-se o valor para o correto

data_gamepass.at[438, 'ADDED'] = '02 May 22'

In [ ]:
data_gamepass.loc[438]

GAME                Loot River
RATIO                     7.86
GAMERS                     334
COMP %                     0.0
TIME                       NaN
RATING                     3.2
ADDED                02 May 22
True_Achievement          7859
Game_Score                1000
Name: 438, dtype: object

In [ ]:
# os valores da coluna 'ADDED' são do tipo object, porém deseja-se que estes estejam em datetime, sendo necessário a sua conversão

data_gamepass['ADDED'] = pd.to_datetime(data_gamepass['ADDED'])

In [ ]:
data_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME              455 non-null    object
 1   RATIO             455 non-null    float64
 2   GAMERS            455 non-null    object
 3   COMP %            455 non-null    float64
 4   TIME              421 non-null    object
 5   RATING            452 non-null    float64
 6   ADDED             454 non-null    datetime64[ns]
 7   True_Achievement  455 non-null    int64
 8   Game_Score        455 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 32.1+ KB

In [ ]:
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,2021-11-03,1678,1000

In [ ]:
data_gamepass['TIME'].unique()

array(['100-120 hours', '80-100 hours', '50-60 hours', '150-200 hours',
       '12-15 hours', '60-80 hours', '15-20 hours', '25-30 hours',
       '20-25 hours', '300-500 hours', '40-50 hours', '1000+ hours',
       '10-12 hours', nan, '30-35 hours', '35-40 hours', '8-10 hours',
       '6-8 hours', '200-300 hours', '2-3 hours', '1-2 hours',
       '4-5 hours', '120-150 hours', '5-6 hours', '3-4 hours',
       '0.5-1 hour', '500-750 hours', '0-0.5 hours'], dtype=object)

In [ ]:
# há um valor na coluna 'TIME' 1000+ hours, é possível identificá-lo na base de dados

data_gamepass.query('TIME == "1000+ hours"')

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
26,Gears of War 3,2.69,"388,495",0.7,1000+ hours,4.4,2019-12-16,5374,2000
37,Microsoft Flight Simulator,12.32,"91,677",0.0,1000+ hours,4.4,2021-12-04,12323,1000
109,Gears 5,7.46,"302,711",0.1,1000+ hours,4.1,2022-01-07,18645,2500
180,The Elder Scrolls Online,5.01,"204,295",0.0,1000+ hours,3.9,2020-10-18,27463,5480
214,Sea of Thieves,9.38,"344,597",0.0,1000+ hours,3.7,2019-12-18,35638,3800

In [ ]:
data_gamepass['TIME'].loc[[26, 37, 109, 180, 214]] = '1000-'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
# a coluna 'TIME' traz uma estimativa do tempo para completar o jogo, a ideia é transformar cada valor na média dos intervalos, para isso:

data_gamepass_time = data_gamepass['TIME'].str.split(expand = True)

In [ ]:
data_gamepass_time.head()

         0      1
0  100-120  hours
1   80-100  hours
2    50-60  hours
3  150-200  hours
4    12-15  hours

In [ ]:
data_gamepass['TIME'] = data_gamepass_time[0]
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120,4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100,4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60,4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200,4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15,4.7,2021-11-03,1678,1000

In [ ]:
# substitui-se o caractere '-' por ', ' para os dados na coluna 'TIME'

data_gamepass['TIME'] = data_gamepass['TIME'].str.replace('-', ' ')
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100 120,4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80 100,4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50 60,4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150 200,4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12 15,4.7,2021-11-03,1678,1000

In [ ]:
# utiliza-se o split para separar os dois intervalos de tempo

data_gamepass['TIME'] = data_gamepass['TIME'].str.split()

In [ ]:
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,"[100, 120]",4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,"[80, 100]",4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,"[50, 60]",4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,"[150, 200]",4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,"71,981",15.6,"[12, 15]",4.7,2021-11-03,1678,1000

In [ ]:
data_gamepass['TIME'].loc[[26, 37, 109, 180, 214]]

26     [1000]
37     [1000]
109    [1000]
180    [1000]
214    [1000]
Name: TIME, dtype: object

In [ ]:
# define-se uma variável do tipo np.array para definir a média das horas para completar os jogos, quando o len() do dado for apenas 1 não é necessário fazer a média

times = np.array(data_gamepass['TIME'])

for index, time in enumerate(times):
  try:
    if len(time) == 2:
      times[index] = ((float(time[0]) + float(time[1]))/len(time))
    elif type(time) == float:
      times[index] = time
    elif time == list(['1000']):
      times[index] = 1000.0
  except TypeError:
    pass

times

array([110.0, 90.0, 55.0, 175.0, 13.5, 70.0, 17.5, 90.0, 70.0, 27.5, 22.5,
       90.0, 27.5, 55.0, 175.0, 400.0, 90.0, 70.0, 22.5, 22.5, 45.0,
       110.0, 17.5, 70.0, 55.0, 175.0, 1000.0, 22.5, 90.0, 17.5, 70.0,
       22.5, 27.5, 22.5, 45.0, 22.5, 70.0, 1000.0, 70.0, 175.0, 27.5,
       17.5, 13.5, 27.5, 70.0, 11.0, nan, 70.0, 110.0, 90.0, 45.0, 32.5,
       175.0, 13.5, 27.5, 45.0, 22.5, 175.0, 37.5, 70.0, 22.5, 9.0, 11.0,
       27.5, 70.0, 27.5, 45.0, 7.0, 13.5, 90.0, 22.5, 45.0, 45.0, 250.0,
       9.0, 17.5, 27.5, 17.5, 22.5, 45.0, 175.0, 175.0, 17.5, 45.0, 250.0,
       90.0, 7.0, 22.5, 110.0, 9.0, 250.0, nan, 55.0, 90.0, 175.0, 70.0,
       70.0, 22.5, 70.0, 22.5, 22.5, 70.0, 17.5, 17.5, 90.0, 55.0, 90.0,
       2.5, 70.0, 1000.0, 45.0, 45.0, 90.0, 45.0, 17.5, 32.5, 90.0, 22.5,
       9.0, 45.0, 7.0, 400.0, 45.0, 55.0, 70.0, 45.0, 27.5, 70.0, 90.0,
       1.5, 2.5, 90.0, 45.0, 55.0, 17.5, 4.5, 70.0, 27.5, 22.5, 13.5,
       32.5, 45.0, 90.0, 250.0, 2.5, 135.0, 27.5, 37.5, 7.0, 45.0, 11.0,
       7.0, 55.0, 90.0, 70.0, 17.5, 17.5, 9.0, 17.5, 17.5, 70.0, 90.0,
       45.0, 22.5, 22.5, 11.0, 22.5, 175.0, 32.5, 27.5, 17.5, 70.0, 110.0,
       9.0, 110.0, 27.5, 55.0, 11.0, 90.0, 27.5, 1000.0, 70.0, 175.0, 1.5,
       175.0, 5.5, 3.5, 45.0, 70.0, 13.5, 9.0, 17.5, 45.0, 90.0, 3.5,
       22.5, 27.5, 22.5, 70.0, 27.5, 55.0, 55.0, 9.0, 37.5, nan, 27.5,
       70.0, 70.0, 90.0, 45.0, 17.5, 45.0, 32.5, 175.0, 1000.0, 90.0,
       90.0, 45.0, 2.5, 3.5, 9.0, 17.5, 175.0, 45.0, 45.0, 22.5, 7.0, 5.5,
       1.5, 27.5, 250.0, 22.5, 55.0, 4.5, 9.0, 9.0, 27.5, 7.0, 45.0, 22.5,
       70.0, 13.5, nan, 22.5, 7.0, 17.5, 32.5, 17.5, 32.5, 0.75, 7.0,
       70.0, 7.0, 5.5, 9.0, 22.5, 55.0, 4.5, 2.5, 22.5, 13.5, 7.0, 90.0,
       70.0, 1.5, 70.0, 27.5, 55.0, 9.0, 27.5, 135.0, 1.5, 110.0, 45.0,
       17.5, 27.5, 1.5, 70.0, 2.5, 90.0, 45.0, 2.5, 1.5, 9.0, 45.0, 3.5,
       7.0, 70.0, 37.5, 70.0, 7.0, 11.0, 175.0, 45.0, nan, 250.0, 27.5,
       7.0, 22.5, 17.5, 1.5, 90.0, 22.5, 9.0, 17.5, 27.5, 175.0, 32.5,
       17.5, 13.5, 110.0, 4.5, 175.0, 2.5, 22.5, 90.0, 11.0, 55.0, 70.0,
       625.0, 5.5, 9.0, 32.5, 55.0, 4.5, 9.0, 13.5, 70.0, 1.5, 45.0, 17.5,
       70.0, 1.5, 175.0, 4.5, 7.0, nan, 22.5, 27.5, 250.0, 32.5, 17.5,
       55.0, 70.0, 55.0, nan, 45.0, 45.0, 70.0, 55.0, 55.0, 11.0, 22.5,
       175.0, 9.0, 90.0, 9.0, 45.0, 7.0, 9.0, 1.5, 9.0, 22.5, 7.0, 27.5,
       nan, 135.0, 9.0, nan, 55.0, 1.5, 22.5, 45.0, 27.5, 55.0, 1.5, 9.0,
       2.5, 27.5, 55.0, 0.25, 11.0, 9.0, 2.5, nan, 11.0, 3.5, 13.5, 400.0,
       4.5, 70.0, 9.0, 2.5, nan, 9.0, 11.0, 17.5, 1.5, 90.0, 11.0, 90.0,
       3.5, 1.5, 3.5, 45.0, 3.5, 9.0, 5.5, 1.5, 13.5, 3.5, 1.5, 27.5, 3.5,
       nan, 7.0, 7.0, 3.5, 55.0, nan, nan, nan, 22.5, nan, 7.0, 13.5,
       110.0, nan, nan, nan, 13.5, nan, 45.0, nan, 17.5, 90.0, nan, nan,
       nan, 45.0, 13.5, nan, nan, nan, nan, 70.0, 70.0, 17.5, nan, nan,
       17.5, nan, nan, nan, nan], dtype=object)

In [ ]:
# comparando o tamanho dos dados para garantir que nenhum se perdeu

print(len(times))
print(len(data_gamepass['TIME']))

455
455

In [ ]:
data_gamepass['AVERAGE TIME (h)'] = times
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score,AVERAGE TIME (h)
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,"[100, 120]",4.8,2022-01-06,5442,2915,110.0
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,"[80, 100]",4.7,2020-12-15,3055,1550,90.0
2,Mass Effect 2,1.34,"221,178",9.6,"[50, 60]",4.7,2020-11-09,1819,1355,55.0
3,Stardew Valley,3.04,"51,530",1.0,"[150, 200]",4.7,2021-12-02,3036,1000,175.0
4,It Takes Two,1.68,"71,981",15.6,"[12, 15]",4.7,2021-11-03,1678,1000,13.5

In [ ]:
# retirando a coluna 'TIME' e organizando as colunas do dataframe
data_gamepass.pop('TIME')
data_gamepass = data_gamepass[['GAME', 'RATIO', 'GAMERS', 'COMP %', 'AVERAGE TIME (h)', 'RATING', 'ADDED', 'True_Achievement', 'Game_Score']]
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,AVERAGE TIME (h),RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,110.0,4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,90.0,4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,55.0,4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,175.0,4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,"71,981",15.6,13.5,4.7,2021-11-03,1678,1000

In [ ]:
data_gamepass['GAMERS'] = data_gamepass['GAMERS'].str.replace(',', '.').astype(float)
data_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,AVERAGE TIME (h),RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,84.143,4.1,110.0,4.8,2022-01-06,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,213.257,8.0,90.0,4.7,2020-12-15,3055,1550
2,Mass Effect 2,1.34,221.178,9.6,55.0,4.7,2020-11-09,1819,1355
3,Stardew Valley,3.04,51.530,1.0,175.0,4.7,2021-12-02,3036,1000
4,It Takes Two,1.68,71.981,15.6,13.5,4.7,2021-11-03,1678,1000

In [ ]:
data_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME              455 non-null    object
 1   RATIO             455 non-null    float64
 2   GAMERS            455 non-null    float64
 3   COMP %            455 non-null    float64
 4   AVERAGE TIME (h)  421 non-null    object
 5   RATING            452 non-null    float64
 6   ADDED             454 non-null    datetime64[ns]
 7   True_Achievement  455 non-null    int64
 8   Game_Score        455 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 32.1+ KB

Exportanto a base de dados tratada

In [ ]:
data_gamepass_tratado = data_gamepass.to_csv('data_gamepass_tratado.csv', index = False)