<a href="https://colab.research.google.com/github/DamodaraBarbosa/estudos_data_science/blob/main/Estudos_Xbox_Gamepass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Estudos dataset Xbox Gamepass**

Importando o dataset

In [1]:
import pandas as pd

In [2]:
data_gamepass = pd.read_csv('Gamepass_Games_v1.csv')

In [3]:
data_gamepass

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000
...,...,...,...,...,...,...,...,...,...
450,Lethal League Blaze,3.91,"4,509",1.6,15-20 hours,3.6,29 Jul 21,3905,1000
451,The Evil Within (JP),1.61,388,12.1,NaN,3.8,16 Aug 21,2787,1735
452,Shadowrun Returns,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
453,Shadowrun: Hong Kong - Extended Edition,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000
454,Shadowrun: Dragonfall - Director's Cut,-,0,0.0,NaN,NaN,20 Apr 22,1000,1000

Visualizando informações relevantes do dataset

In [5]:
data_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME              455 non-null    object
 1   RATIO             455 non-null    object
 2   GAMERS            455 non-null    object
 3   COMP %            455 non-null    float64
 4   TIME              421 non-null    object
 5   RATING            452 non-null    float64
 6   ADDED             454 non-null    object
 7   True_Achievement  455 non-null    int64
 8   Game_Score        455 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 32.1+ KB

In [6]:
data_gamepass.describe(include = 'all')

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
count,455,455,455,455.000000,421,452.000000,454,455.000000,455.000000
unique,453,293,452,NaN,27,NaN,177,NaN,NaN
top,DiRT Rally 2.0,1.83,0,NaN,60-80 hours,NaN,09 Nov 20,NaN,NaN
freq,2,5,3,NaN,42,NaN,65,NaN,NaN
mean,NaN,NaN,NaN,6.344835,NaN,3.701549,NaN,4693.395604,1208.747253
std,NaN,NaN,NaN,11.578358,NaN,0.517860,NaN,5005.533566,659.990465
min,NaN,NaN,NaN,0.000000,NaN,2.000000,NaN,252.000000,200.000000
25%,NaN,NaN,NaN,0.600000,NaN,3.400000,NaN,2101.500000,1000.000000
50%,NaN,NaN,NaN,1.900000,NaN,3.700000,NaN,3231.000000,1000.000000
75%,NaN,NaN,NaN,6.100000,NaN,4.100000,NaN,4995.000000,1212.500000
max,NaN,NaN,NaN,84.700000,NaN,4.800000,NaN,37178.000000,7000.000000

Visualizando as variáveis do dataset



1.   GAME

In [12]:
data_games = data_gamepass[['GAME']]

In [13]:
data_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GAME    455 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB

In [14]:
data_games.describe()

                  GAME
count              455
unique             453
top     DiRT Rally 2.0
freq                 2