<a href="https://colab.research.google.com/github/DamodaraBarbosa/estudos_data_science/blob/main/Xbox's_databases_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando as bibliotecas a serem utilizadas

In [1]:
import pandas as pd

# Importando as bases de dados

In [2]:
# tabela com os jogos que estão ou estiveram no serviço Game Pass:

df_gamepass = pd.read_csv('/content/drive/MyDrive/Dados Xbox/Game Pass Master List - Master List (1).csv')
df_gamepass.columns = df_gamepass.iloc[0]
df_gamepass.drop([0], inplace= True)
df_gamepass.head()

,Game,System,xCloud,Status,Added,Removed,Months,Release,Age,Metacritic,Completion,Genre (Giantbomb),Xbox Series X|S,Owner Notes,ESRB,ESRB Content Descriptors,Public Notes,Retail
1,Persona 3: Portable,Xbox / PC,Yes,Coming Soon,Jan 2023,NaN,-2.63,Nov 2009,13.22,89,65.5,Role-Playing,NaN,NaN,M,"Blood, Language, Partial Nudity, Sexual Themes...",NaN,NaN
2,Persona 4: Golden,Xbox / PC,Yes,Coming Soon,Jan 2023,NaN,-2.63,Jun 2012,10.61,90,68.5,NaN,NaN,NaN,M,"Alcohol Reference, Animated Blood, Language, P...",NaN,NaN
3,High on Life,Xbox / PC,Yes,Coming Soon,Dec 2022,NaN,-1.41,Dec 2022,0.00,NaN,NaN,First-Person Shooter,NaN,NaN,M,"Violence, Blood, Sexual Themes, Use of Drugs, ...",NaN,NaN
4,Hello Neighbor 2,Xbox / PC,Yes,Coming Soon,Dec 2022,NaN,-1.18,Dec 2022,0.00,NaN,NaN,Strategy / Puzzle,NaN,NaN,E10+,Mild Violence,NaN,NaN
5,"Warhammer 40,000: Darktide",Xbox / PC,Yes,Coming Soon,Nov 2022,NaN,-0.99,Nov 2022,0.00,NaN,NaN,Action,Exclusive,NaN,RP,NaN,NaN,NaN

In [3]:
# dataframe com a biblioteca de jogos do Xbox:

df_xbox_games = pd.read_csv('/content/drive/MyDrive/Dados Xbox/df_xbox_games.csv')
df_xbox_games.head()

,name,genre(s),developer(s),publisher(se),releasedate,addons,publisher(s)
0,Mable & the Wood,Metroidvania,Graffiti Games,Triplevision,"Sep 18, 2019",[],NaN
1,#Funtime,NaN,NaN,NaN,NaN,[],NaN
2,#SinucaAttack,NaN,NaN,NaN,NaN,[],NaN
3,#Wargames,Interactive movie,Eko,Eko,"Jul 31, 2018",['Play Anywhere'],NaN
4,#killallzombies,Shooter,Beatshapers,Digerati,"Oct 27, 2018",[],NaN

In [4]:
df_xbox_games.shape

(3149, 7)

In [5]:
# dataframe com dados oriundos do site True Achievements:

df_true_achievements = pd.read_csv('/content/drive/MyDrive/Dados Xbox/xbox_games_TA.csv')
df_true_achievements.head()

,Name,TA_Score,Gamerscore,Ratio,Gamers,Comp %,Comp time,Rating
0,"""ZAZEN"", zen meditation game","3,234","1,000",3.23,199,3.5,NaN,-
1,#IDARB,"1,430","1,000",1.43,"93,605",22.9,1-2 hours,2.7
2,#SinucaAttack,"1,018","1,000",1.02,"5,294",93.8,0-0.5 hours,1.9
3,>observer_,"2,055","1,000",2.06,"12,124",7.0,10-12 hours,3.4
4,0 Degrees,"1,064","1,000",1.06,"2,645",75.9,1-2 hours,2.1

In [6]:
df_true_achievements.shape

(9306, 8)

In [7]:
# dataframe com dados do Metacritic dos jogos Xbox:

df_metacritic = pd.read_csv('/content/drive/MyDrive/Dados Xbox/xbox_metacritic.csv')
df_metacritic

,Name,Release date,Metascore,Userscore
0,Red Dead Redemption 2,"October 26, 2018",97.0,8.2
1,Grand Theft Auto V,"November 18, 2014",97.0,7.9
2,Metal Gear Solid V: The Phantom Pain,"September 1, 2015",95.0,7.6
3,Celeste,"January 26, 2018",94.0,7.6
4,The Witcher 3: Wild Hunt - Blood and Wine,"May 31, 2016",94.0,8.6
...,...,...,...,...
2318,Music Racer: Ultimate,"March 4, 2022",50.0,tbd
2319,Blackwind,"January 20, 2022",48.0,tbd
2320,Balan Wonderworld,"March 26, 2021",47.0,7.2
2321,Krut: The Mythic Wings,"July 12, 2022",43.0,tbd
2322,CrossfireX,"February 10, 2022",38.0,3.3

# Tratamento dos nomes dos jogos para posterior merge das bases de dados

In [8]:
# como os dados vêm de diferentes fontes, muitos dos jogos podem ter nomes escritos de maneira diferente nas diferentes
# bases de dados.

# a ideia é eliminar qualquer tipo de caráctere especial e colocar todas as letras em maiúsculo a fim de igualar os nomes
# dos jogos.

Eliminando os carácteres especiais com expressões regulares (Regex)

In [9]:
# para a tabela de jogos do Game Pass:

df_gamepass['Game'] = df_gamepass['Game'].replace(r'[^0-9a-zA-Z ]', '', regex= True).str.upper()
df_gamepass.head()

,Game,System,xCloud,Status,Added,Removed,Months,Release,Age,Metacritic,Completion,Genre (Giantbomb),Xbox Series X|S,Owner Notes,ESRB,ESRB Content Descriptors,Public Notes,Retail
1,PERSONA 3 PORTABLE,Xbox / PC,Yes,Coming Soon,Jan 2023,NaN,-2.63,Nov 2009,13.22,89,65.5,Role-Playing,NaN,NaN,M,"Blood, Language, Partial Nudity, Sexual Themes...",NaN,NaN
2,PERSONA 4 GOLDEN,Xbox / PC,Yes,Coming Soon,Jan 2023,NaN,-2.63,Jun 2012,10.61,90,68.5,NaN,NaN,NaN,M,"Alcohol Reference, Animated Blood, Language, P...",NaN,NaN
3,HIGH ON LIFE,Xbox / PC,Yes,Coming Soon,Dec 2022,NaN,-1.41,Dec 2022,0.00,NaN,NaN,First-Person Shooter,NaN,NaN,M,"Violence, Blood, Sexual Themes, Use of Drugs, ...",NaN,NaN
4,HELLO NEIGHBOR 2,Xbox / PC,Yes,Coming Soon,Dec 2022,NaN,-1.18,Dec 2022,0.00,NaN,NaN,Strategy / Puzzle,NaN,NaN,E10+,Mild Violence,NaN,NaN
5,WARHAMMER 40000 DARKTIDE,Xbox / PC,Yes,Coming Soon,Nov 2022,NaN,-0.99,Nov 2022,0.00,NaN,NaN,Action,Exclusive,NaN,RP,NaN,NaN,NaN

In [11]:
# para a biblioteca de jogos de Xbox:

df_xbox_games['name'] = df_xbox_games['name'].replace(r'[^0-9a-zA-Z ]', '', regex= True).str.upper()
df_xbox_games.head()

,name,genre(s),developer(s),publisher(se),releasedate,addons,publisher(s)
0,MABLE THE WOOD,Metroidvania,Graffiti Games,Triplevision,"Sep 18, 2019",[],NaN
1,FUNTIME,NaN,NaN,NaN,NaN,[],NaN
2,SINUCAATTACK,NaN,NaN,NaN,NaN,[],NaN
3,WARGAMES,Interactive movie,Eko,Eko,"Jul 31, 2018",['Play Anywhere'],NaN
4,KILLALLZOMBIES,Shooter,Beatshapers,Digerati,"Oct 27, 2018",[],NaN

In [13]:
# para os dados oriundos do True Achievements:

df_true_achievements['Name'] = df_true_achievements['Name'].replace(r'[^0-9a-zA-Z ]', '', regex= True).str.upper()
df_true_achievements.head()

,Name,TA_Score,Gamerscore,Ratio,Gamers,Comp %,Comp time,Rating
0,ZAZEN ZEN MEDITATION GAME,"3,234","1,000",3.23,199,3.5,NaN,-
1,IDARB,"1,430","1,000",1.43,"93,605",22.9,1-2 hours,2.7
2,SINUCAATTACK,"1,018","1,000",1.02,"5,294",93.8,0-0.5 hours,1.9
3,OBSERVER,"2,055","1,000",2.06,"12,124",7.0,10-12 hours,3.4
4,0 DEGREES,"1,064","1,000",1.06,"2,645",75.9,1-2 hours,2.1

In [14]:
# para os dados dos jogos oriundos do agregador Metacritic:

df_metacritic['Name'] = df_metacritic['Name'].replace(r'[^0-9a-zA-Z ]', '', regex= True).str.upper()
df_metacritic.head()

,Name,Release date,Metascore,Userscore
0,RED DEAD REDEMPTION 2,"October 26, 2018",97.0,8.2
1,GRAND THEFT AUTO V,"November 18, 2014",97.0,7.9
2,METAL GEAR SOLID V THE PHANTOM PAIN,"September 1, 2015",95.0,7.6
3,CELESTE,"January 26, 2018",94.0,7.6
4,THE WITCHER 3 WILD HUNT BLOOD AND WINE,"May 31, 2016",94.0,8.6